= form_for(:session, :url => sessions_path) do |f| 
	.tbl
		.row
			.cellb
				= f.label :email
			.cell
				= f.text_field :email
		.row
			.cellb
				= f.label :password
			.cell
				= f.password_field :password
		.row
			.cell
				= f.label nil
			.cell
				= f.submit 'Sign in'