<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class='tbl'>
	  <div class='tbl_row'>
	  	<div class='tbl_head'><%= f.label :email %></div>
	    <div class='tbl_data'><%= f.text_field :email %></div>
	  </div>
	  <div class='tbl_row'>
	  	<div class='tbl_head'><%= f.label :password %></div>
	    <div class='tbl_data'><%= f.password_field :password %></div>
	  </div>
		<div class='tbl_row'>
	  	<div class='tbl_head'><%= f.label nil %></div>
	    <div class='tbl_data'><%= f.submit 'Sign in' %></div>
	  </div>
	</div>
<% end %>
<br />
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
