<div class='tbl'>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= f.label :make %></div>
    <div class='tbl_data'><%= f.select :make, Computer::MAKES, { :include_blank => true } %></div>
  </div>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= f.label :model %></div>
    <div class='tbl_data'><%= f.text_field :model %></div>
  </div>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= f.label :serial %></div>
    <div class='tbl_data'><%= f.text_field :serial %></div>
  </div>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= f.label :form_factor %></div>
    <div class='tbl_data'><%= f.select :form_factor, Computer::FF, { :include_blank => true } %></div>
  </div>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= f.label :charger %></div>
    <div class='tbl_data'><%= f.check_box :charger %></div>
  </div>
  <% if current_user.admin? %>
	  <div class='tbl_row'>
	  	<div class='tbl_head'><%= f.label :cpu, "CPU" %></div>
	    <div class='tbl_data'><%= f.text_field :cpu %></div>
	  </div>
	  <div class='tbl_row'>
	  	<div class='tbl_head'><%= f.label :ram, "RAM" %></div>
	    <div class='tbl_data'><%= f.text_field :ram %></div>
	  </div>
  <% end %>
  <div class='tbl_row'>
  	<div class='tbl_head'><%= hidden_field_tag :user_id, params[:user_id] %></div>
    <div class='tbl_data'><%= f.submit "#{ (@computer.new_record?) ? 'Register' : 'Update' }" %></div>
  </div>
</div>