.tbl
	.row
		.cell
			.tbl#computer_show
				.row
					.cell
						= "Owner:"
						= link_to("#{@computer.user.fname} #{@computer.user.lname}", user_path(@computer.user))
				.row
					.cell
						= "Serial: #{@computer.serial}"
				.row
					.cell
						= "#{@computer.make} #{@computer.model}"
				.row
					.cell.bgF
						= render 'qr', :qr => @qr

