.computer_show
  %h1.table_label
    = "#{@computer.user.fname}'s"
    = @computer.make
    = @computer.form_factor
  = form_for @computer, html: { class: 'submitless' } do |f|
    %table.computer_edit
      %tr
        %th.make Make:
        %td.make
          = f.select :make, Computer::MAKES, { include_blank: true }
          %i.icon-sort-down
      %tr
        %th.model Model:
        %td.model= f.text_field :model
      %tr
        %th.serial Serial:
        %td.serial= f.text_field :serial
      %tr
        %th.form_factor Size:
        %td.form_factor
          = f.select :form_factor, Computer::FF, { include_blank: true }
          %i.icon-sort-down
      %tr
        %th Cord:
        %td.slider_container
          .slider
            = f.check_box :charger
            %label{ for: 'computer_charger' }
      %tr
        %th Location:
        %td
          = f.select :location, Computer::ZONES, { include_blank: true }
          %i.icon-sort-down
    = f.submit 'Update', class: 'hidden'
  = render partial: 'tickets', locals: { computer: @computer }
