.tbl
	- unless changing_password?
		.row
			.cellb
				= f.label :fname, 'First Name'
			.cell
				= f.text_field :fname
		.row
			.cellb
				= f.label :lname, 'Last Name'
			.cell
				= f.text_field :lname
		.row
			.cellb
				= f.label :email
			.cell
				= f.text_field :email
		.row
			.cellb
				= f.label :tel, inline_superscript('Telephone', '†')
			.cell
				= f.text_field :tel
		= render 'second_phone', :f => f unless noob?
		= render 'address_fields', :f => f unless noob?
	- if need_password?
		.row
			.cellb
				= f.label :password, inline_superscript("#{noob_text('', 'New')} Password", '††')
			.cell
				= f.password_field :password
		.row
			.cellb
				= f.label :password_confirmation, 'Confirmation'
			.cell
				= f.password_field :password_confirmation
	.row
		.cellb
			= f.label nil
		.cell
			= f.submit noob_text 'Sign up', 'Update'
%br
- unless changing_password?
	%p.caveat † Phone numbers must be 10 digits in length, but can be entered in any format.
- if need_password?
	%p.caveat
		†† Passwords require 1 lowercase letter, 1 uppercase letter, 1 number or symbol,
		and must be at least 8 characters in length.
