<div class='tbl'>
	<% unless params[:chpwd] == "1" %>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :fname, 'First Name' %></div>
	    <div class='cell'><%= f.text_field :fname %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :lname, 'Last Name' %></div>
	    <div class='cell'><%= f.text_field :lname %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :email %></div>
	    <div class='cell'><%= f.text_field :email %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'>
	  		<%= f.label :tel, content_tag(:span, 'Telephone') +
			                    content_tag(:span, '†', :class => 'caveat') %>
	  	</div>
	    <div class='cell'><%= f.text_field :tel %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :address %></div>
	    <div class='cell'><%= f.text_field :address %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :city %></div>
	    <div class='cell'><%= f.text_field :city %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :state %></div>
	    <div class='cell'><%= f.select :state, User::ST, { :include_blank => true } %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :zip %></div>
	    <div class='cell'><%= f.text_field :zip %></div>
	  </div>
  <% end %>
  <% if @user.new_record? || params[:chpwd] == "1" %>
    <div class='row'>
	  	<div class='cellb'>
	  		<%= f.label :password, content_tag(:span, "#{ (@user.new_record?) ? nil : 'New' } Password") +
	                             content_tag(:span, '††', :class => 'caveat') %>
	  	</div>
	    <div class='cell'><%= f.password_field :password %></div>
	  </div>
	  <div class='row'>
	  	<div class='cellb'><%= f.label :password_confirmation, 'Confirmation' %></div>
	    <div class='cell'><%= f.password_field :password_confirmation %></div>
	  </div>
  <% end %>	
  <div class='row'>
  	<div class='cellb'><%= f.label nil %></div>
    <div class='cell'><%= f.submit "#{ (@user.new_record?) ? 'Sign up' : 'Update' }" %></div>
  </div>
</div>
<br />
<!--<p class="caveat">* Indicates a required field.</p>-->
<% unless params[:chpwd] == "1" %>
	<p class="caveat">
	  † Phone numbers must be 10 digits in length, but can be entered in any format.
	</p>
<% end %>
<% if @user.new_record? || params[:chpwd] == "1" %>
	<p class="caveat">
	  †† Passwords require 1 lowercase letter, 1 uppercase letter, 1 number or symbol,
	  and must be at least 8 characters in length.
	</p>
<% end %>