<div class='field'>
  <%= f.label :fname, 'First Name' %><br />
  <%= f.text_field :fname %>
</div>
<div class='field'>
  <%= f.label :lname, 'Last Name' %><br />
  <%= f.text_field :lname %>
</div>
<div class='field'>
  <%= f.label :email, 'Email Address' %><br />
  <%= f.text_field :email %>
</div>
<div class='field'>
  <%= f.label :tel, 'Phone Number (10-digit)' %><br />
  <%= f.text_field :tel %>
</div>
<div class='field'>
  <%= f.label :password, "#{ (@user.new_record?) ? nil : 'New' } Password (Minimum 8)" %><br />
  <%= f.password_field :password %>
</div>
<div class='field'>
  <%= f.label :password_confirmation, 'Confirmation' %><br />
  <%= f.password_field :password_confirmation %>
</div>
<div class='actions'>
  <%= f.submit "#{ (@user.new_record?) ? 'Sign up' : 'Update' }" %>
</div>