.row
	.cell
		= gravatar_for user, :size => 28
	.cell
		= link_to "#{user.lname}, #{user.fname}", user
	- if current_user.admin?
		.cell
			= number_to_phone(user.tel, :delimiter => '.')
		.cell
			= link_to "[Edit]", edit_user_path(user)
		.cell
			= link_to "[Delete]", user,
								:method => :delete,
								:confirm => "Really delete #{user.fname} #{user.lname}?",
								:title => "Confirm Delete"
