<h1>Editing <%= "#{@user.fname} #{@user.lname}" %></h1>

<div id="gravatar">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">Change Avatar</a>
</div>
<br />
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
<% end %>