<% if params[:chpwd] == "1" %>
<h1>Change Password</h1>
<% else %>
<h1>Editing <%= "#{@user.fname} #{@user.lname}" %></h1>

<div id="gravatar">
  <%= gravatar_for @user %>
  <%= link_to("[Change Avatar]", "http://gravatar.com/emails", :target => "_blank") %>
  <%= link_to("[Change Password]", edit_user_path(@user) + "?chpwd=1") %>
</div>
<br />
<% end %>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
<% end %>