<h1>
  <%= gravatar_for @user %>
  <%= "#{@user.fname} #{@user.lname}" %>
</h1>
<table>
  <tr>
    <td>
	  <table>
		<tr>
		  <td>
			Phone:
		  </td>
		  <td>
		  	<%= number_to_phone(@user.tel, :delimiter => '.') %>
		  </td>
		</tr>
		<tr>
		  <td>
		  	Email:
		  </td>
		  <td>
		  	<%= @user.email %>
		  </td>
		</tr>
		<tr>
		  <td>
		  	Address:
		  </td>
		  <td>
		  	<%= "#{@user.address}, #{@user.city}, #{@user.state} #{@user.zip}" %>
		  </td>
		</tr>
	  </table>
	  <table>
		<tr>
		  <th colspan="3"><%= "#{@user.fname}'s Computers" %>
			  <%= link_to(content_tag(:span, "+", :class => "add round"),
			              new_computer_path + "?user_id=#{@user.id}") %>
		  </th>
		</tr>
		<% if @user.computers.any? %>
	  	<tr>
	  	  <th>Make</th><th>Model</th><th>Serial</th><th>First Visit</th><th>&nbsp;</th>
	  	</tr>
	    <% @user.computers.each do |computer| %>
	    <tr class="computer">
	      <td><%= computer.make %></td>
	      <td><%= computer.model %></td>
	      <td><%= computer.serial %></td>
	      <td><%= "#{time_ago_in_words(computer.created_at)} ago" %></td>
	      <td>
		    <a href="#"><%= edit_icon %></a>
		    <%= link_to content_tag(:span, "-", :class => "subtract round"),
		                computer,
		                :method => :delete,
				            :confirm => "You sure?",
				            :title => "#{computer.make} #{computer.model}" %>
		  </td>
	    </tr>
	    <% end %>
	    <% else %>
	    <tr>
	      <td colspan="5">
		    It looks like you don't have any computers registered yet.
		    Click the green plus icon above to add computers to your account.
		  </td>
	    </tr>
	    <% end %>
	  </table>
    </td>
  </tr>
</table>
