<h1>
  <%= gravatar_for @user %>
  <%= "#{@user.fname} #{@user.lname}" %>
</h1>
<p>
  Phone: <%= number_to_phone(@user.tel, :delimiter => '.') %><br />
  Email: <%= @user.email %><br />
  Address: <%= "#{@user.address}, #{@user.city}, #{@user.state} #{@user.zip}" %>
  <%= require 'uri' %>
</p>
