.tbl
	.row
		.cell.user_show_title
			= gravatar_for @user
			= "#{@user.fname} #{@user.lname}"
			- if current_user && current_user.admin?
				= link_to(edit_icon, edit_user_path(@user))
				= link_to(chpwd_icon, edit_user_path(@user) + "?chpwd=1")
	.row
		.cell
			.tbl
				.row
					.cellb Phone:
					.cell
						= number_to_phone(@user.tel, :delimiter => '.')
						- unless @user.tel2.nil?
							and
							= number_to_phone(@user.tel2, :delimiter => '.')
				.row
					.cellb Email:
					.cell
						= @user.email
				= render 'address' if !@user.address.blank?
			.user_show_h2
				= "#{@user.fname}'s Computers"
				= link_to(content_tag(:span, "+", :class => "add round"),
									new_computer_path + "?user_id=#{@user.id}",
									:title => "Register Computer")
			.tbl#computers_table
				- if @user.computers.any?
					.row
						.cellb Make
						.cellb Model
						.cellb Location
						.cellb Charger
						.cellb
						.cellb
						.cellb
					- @user.computers.each do |computer| 
						.row.row_link
							- computer_row(computer).each do |data| 
								= content_tag(:div, link_to(data, computer_path(computer)), :class => 'cell')
							.cell
								= form_tag new_ticket_path, :method => :get, :remote => true do
									= hidden_field_tag :computer_id, computer.id
									= hidden_field_tag :user_id, computer.user.id
									= submit_tag 'Open a Ticket'
							.cell
								= form_tag edit_computer_path(computer), :method => :get do
									= hidden_field_tag :user_id, computer.user.id
									= submit_tag 'Edit'
							.cell
								= form_tag computer_path(computer), :method => :delete do
									= hidden_field_tag :computer_id, computer.id
									= hidden_field_tag :user_id, computer.user.id
									= submit_tag 'Delete'
				- else
					.row
						.cell.default
							It looks like you don't have any computers registered yet.
							Click the green plus icon above to register your computer with us.
			.tbl#new_ticket
			.user_show_h2
				= "#{@user.fname}'s Tickets"
			.tbl#ticket_table
				- if @user.tickets.any?
					.row
						.cellb Make
						.cellb Model
						.cellb Issue
						.cellb Tech
						.cellb Status
						.cellb Created
					- @user.tickets.each do |ticket| 
						= render 'ticket_row', :t => ticket
				- else
					.row#no_ticket_message
						.cell.default
							It looks like you don't have any tickets yet.
							If you've already registered your computer,
							click the Open a Ticket button next to the computer with issues.
