.user_show
  %h1.table_label
    = @user.fname
    = @user.lname
  = render partial: 'details', locals: { user: @user }
  %h1.table_label
    = "#{@user.fname}'s"
    Computers
    / = link_to '#', class: 'add_button' do
    /   %i.icon-plus-sign
  = render partial: 'computers', locals: { user: @user }
  %table.tickets