<div class='tbl'>
  <div class='row'>
    <div class='cell user_show_title'>
	    <%= gravatar_for @user %>
		  <%= "#{@user.fname} #{@user.lname}" %>
			<% if current_user && current_user.admin? %>
				<%= link_to(edit_icon, edit_user_path(@user)) %>
				<%= link_to(chpwd_icon, edit_user_path(@user) + "?chpwd=1") %>
			<% end %>
		</div>
	</div>
	<div class='row'>
    <div class='cell'>
	    <div class='tbl'>
		    <div class='row'>
		      <div class='cellb'>
			      Phone:
		      </div>
		      <div class='cell'>
		  	    <%= number_to_phone(@user.tel, :delimiter => '.') %>
		      </div>
		    </div>
		    <div class='row'>
		      <div class='cellb'>
		  	    Email:
		      </div>
		      <div class='cell'>
		  	    <%= @user.email %>
		      </div>
		    </div>
		    <div class='row'>
		      <div class='cellb'>
		  	    Address:
		      </div>
		      <div class='cell'>
		  	    <%= "#{@user.address}, #{@user.city}, #{@user.state} #{@user.zip}" %>
		      </div>
		    </div>
	    </div>
	    <div class="user_show_h2">
	      <%= "#{@user.fname}'s Computers" %>
	      <%= link_to(content_tag(:span, "+", :class => "add round"),
	                  new_computer_path + "?user_id=#{@user.id}",
	                  :title => "Register Computer") %>
      </div>
	    <div class='tbl'>
        <% if @user.computers.any? %>
		  	  <div class='row'>
		  	    <div class='cellb'>Make</div>
		        <div class='cellb'>Model</div>
		        <div class='cellb'>Serial</div>
		        <div class='cellb'>Checked In</div>
		        <div class='cellb'>Checked Out</div>
		        <div class='cellb'>Actions</div>
		  	  </div>
		      <% @user.computers.each do |computer| %>
			      <div class='row'>
				      <div class='cell'><%= computer.make %></div>
				      <div class='cell'><%= computer.model %></div>
				      <div class='cell'><%= truncate(computer.serial, :length => 10) %></div>
				      <div class='cell'><%= checked_in_at(computer) %></div>
				      <div class='cell'><%= checked_out_at(computer) %></div>
				      <div class='cell'>
				        <%= link_to ticket_icon, new_ticket_path +
				                                 "?user_id=#{@user.id}&computer_id=#{computer.id}" %>
				        <%= link_to(edit_icon, edit_computer_path(computer) + "?user_id=#{@user.id}") %>
				        <%= link_to content_tag(:span, "-", :class => "subtract round"),
				                    computer_path(computer) + "?user_id=#{@user.id}",
				                    :method => :delete,
						                :confirm => "You sure?",
						                :title => "Delete This Computer" %>
				      </div>
			      </div>
		      <% end %>
	      <% else %>
		      <div class='row'>
		        <div class='cell default'>
			        It looks like you don't have any computers registered yet.
			        Click the green plus icon above to register your computer with us.
			      </div>
		      </div>
	      <% end %>
      </div>
      <div class="user_show_h2"><%= "#{@user.fname}'s Tickets" %></div>
      <div class='tbl'>
      	<% if @user.tickets.any? %>
          <div class='row'>
          	<div class='cellb'>ID</div>
	          <div class='cellb'>Model</div>
            <div class='cellb'>Issue</div>
            <div class='cellb'>Technician</div>
            <div class='cellb'>Status</div>
            <div class='cellb'>Created</div>
          </div>
          <% @user.tickets.each do |ticket| %>
            <div class='row row_link'>
            <% [ ticket.id,
	               ticket.computer.model,
	               truncate(ticket.issue),
	               (ticket.technician) ? ticket.technician : "None",
	               (ticket.status.nil?) ? "None" : ticket.status,
	               "#{time_ago_in_words(ticket.created_at)} ago"
	             ].each do |data| %>
	               <%= content_tag(:div, link_to(data, ticket_path(ticket)), :class => 'cell') %>
	             <% end %>
	          </div>
          <% end %>
       	<% else %>
		      <div class='row'>
		        <div class='cell default'>
			        It looks like you don't have any tickets yet.
			        If you've already registered your computer,
			        click the blue ticket icon above to open a ticket for your computer.
			      </div>
		      </div>
	      <% end %>
      </div>
    </div>
  </div>
</div>