%fieldset
	%legend Labor
	.tbl#labor_table
		.row
			.cellb.service Service Performed
			.cellb.price Price
			.cellb.notes Additional Notes
		- if t.labors.any?
			- t.labors.each do |labor| 
				= render 'labors/labor', :labor => labor
.tbl
	= form_for t.labors.new, :remote => true do |f| 
		.row
			.cell
				= f.select :service, Labor::SERVICES, :include_blank => true
			.cell
				= f.text_field :price, :class => :price
			.cell
				= f.text_field :notes, :class => :notes
			.cell
				= f.hidden_field :ticket_id, :value => t.id
				= f.submit "Add"