%table.index#ticket-index
  %tr
    %th Customer
    %th Computer
    %th Issue
    %th.ticket_status Status
  - tickets.each do |ticket|
    %tr{ data: { id: ticket.id, url: ticket_path(ticket.id) } }
      %td.customer_name
        = ticket.customer.fname
        = ticket.customer.lname
      %td.computer_model
        = ticket.computer.make
        = ticket.computer.model
      %td= ticket.issue
      %td.ticket_status
        = ticket.status
        = time_ago_in_words ticket.updated_at
        ago
