%table#ticket-index
  %tr
    %th First
    %th Last
    %th Make
    %th Model
    %th Issue
    %th Status
  - @tickets.each do |ticket|
    %tr{ data: { id: ticket.id } }
      %td= ticket.customer.fname
      %td= ticket.customer.lname
      %td= ticket.computer.make
      %td= ticket.computer.model
      %td= ticket.issue
      %td= ticket.status
