.tbl#ticket_index
	- if @in_queue.any?
		.row
			.cell
				%h1 In Queue:
				%h4 Waiting for a free spot on a technician's desk.
				.tbl#ticket_index
					= render @in_queue
	- if @waiting.any?
		.row
			.cell
				%h1 Waiting:
				%h4 Parts on order, Customer's approval, Pay and pickup, etc.
				.tbl
					= render @waiting
	- if @my_jobs.any?
		.row
			.cell
				%h1 My Open Tickets:
				%h4 The stuff you're currently working on.
				.tbl
					= render @my_jobs
	- if @open.any?
		.row
			.cell
				%h1 Open Tickets:
				%h4 Anything not finished and checked out.
				.tbl
					= render @open
	- if @closed.any?
		.row
			.cell
				%h1 Closed:
				%h4 Finished and checked out, or not done per request.
				.tbl
					= render @closed