.tbl
	.row
		.cell
			.tbl
				.row
					.cell.wrappable
						= render 'customer', :c  => @ticket.customer
						= render 'computer', :pc => @ticket.computer
						= render 'issue',    :t  => @ticket
						= render 'notes',    :t  => @ticket
					.cell	
						= render 'meta',     :t => @ticket
						= render 'labor',    :t => @ticket
						= render 'part',     :t => @ticket
						= render 'bill',     :t => @ticket
						= render 'payment',  :t => @ticket