.ticket_show
  .column_left
    %section.computer
      %i.icon-laptop
      %b Computer:
      = @ticket.computer.make
      = @ticket.computer.model
      - if @ticket.computer.charger
        w/charger
    %section.issue
      %i.icon-comments
      %b Complaint:
      = @ticket.issue
    %section.notes
      %i.icon-edit
      %b Notes:
      = @ticket.notes
  .column_right
    %section.status
      %i.icon-info-sign
      %b Status:
      = @ticket.status
      = time_ago_in_words @ticket.updated_at
      ago
      - if @ticket.technician.present?
        by
        = @ticket.technician.fname
        = @ticket.technician.lname
    %section.customer
      %i.icon-user
      %b Customer:
      = @ticket.customer.fname
      = @ticket.customer.lname
      = number_to_phone @ticket.customer.tel, delimiter: '.'
    %section.labor
      %i.icon-wrench
      %b Labor:
      - if @ticket.labors.any?
        - if @ticket.labors.count > 1
          = @ticket.labors.count
          %br
        - @ticket.labors.each do |labor|
          = labor.service
          = labor.notes
          = humanized_money_with_symbol labor.price
          = time_ago_in_words labor.created_at
          ago
          %br
      - else
        Diagnose & Call
    %section.parts
      %i.icon-keyboard
      %b Parts:
      - if @ticket.parts.any?
        - if @ticket.parts.count > 1
          = @ticket.parts.count
          %br
        - @ticket.parts.each do |part|
          = part.qty
          = part.item
          = humanized_money_with_symbol part.price
          = "Warranty: #{part.warranty}"
          %br
      - else
        None
    %section.balance
      %i.icon-money
      %b Balance:
      = humanized_money_with_symbol @ticket.total
      - if @ticket.subtotal > 0
        %br
        Subtotal:
        = humanized_money_with_symbol @ticket.subtotal
        Tax:
        = humanized_money_with_symbol @ticket.tax
    %section.payments
      %i.icon-credit-card
      %b Payments:
      - if @ticket.payments.any?
        - if @ticket.payments.count > 1
          = @ticket.payments.count
          %br
        - @ticket.payments.each do |payment|
          = humanized_money_with_symbol payment.price
          = payment.method
          = time_ago_in_words payment.updated_at
          ago
          %br
      - else
        None
