.row{:id=>"labor_#{labor.id}"}
	.cell
		= labor.service
	.cell
		= "$#{labor.price}"
	.cell
		= labor.notes
	.cell
		= form_for labor, :html => { :method => :delete }, :remote => true do |f|
			= f.submit "Delete"