!!! 5
- html_tag_with_browser_classes
%head
  %meta{ charset: 'utf-8' }
  %title
    = yield :title
  = csrf_meta_tags
  = stylesheet_link_tag    :application
  = stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'
  = javascript_include_tag :application
  / Load HTML5 Shiv from CDN (when necessary)
  /[if lt IE 9]
    = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
%body
  .web_view
    .banner
      = link_to root_path do
        .logo
      = render partial: 'layouts/navigation'
    .search_container
      = form_tag root_path do
        = text_field_tag :search, params[:search], class: 'search_box button-flat button-rounded', placeholder: 'What are you looking for?'
        = submit_tag :Search, class: 'button button-flat button-rounded search_button'
    %main
      = yield
